<!-- attach header -->
<%- include ../partials/header.ejs %>
<!-- main -->
<section class="admin add">
	<form action="/admin/add" method="POST" enctype="multipart/form-data">
		<label for="title">Title</label>
		<input type="text" id="title" name="title">
		<label for="pageUrl">page URL</label>
		<input type="text" name="pageUrl" id="pageUrl">
		<label for="desc">Description</label>
		<textarea id="desc" name="desc"></textarea>
		<label for="git">gitHub</label>
		<input type="text" id="git" name="git">
		<label for="url">URL</label>
		<input type="text" id="url" name="url">
		<label for="img">Image</label>
		<input type="file" id="img" name="img">
		<button>Add entry</button>
	</form>
</section>

<!-- Attach footer -->
<%- include ../partials/footer.ejs %>