<!-- attach header -->
<%- include partials/header.ejs %>
<!-- main content goes here -->
<section class="about">
	<h1><%= title %></h1>
	<section>
		<h2>Brandon Elliott</h2>
		<img src="/images/dadGmaMe.jpg" alt="Photograph of Brandon Elliott with his father, Brother, and Grandmother">
		<p>Solving problems is what I do. My Name is Brandon Elliott. I have grown up next to computers the majority of my life. I have fond  memories of playin Warcraft: Orcs and Humans on computers my dad brought home from work in my basement. I grew up around technology and eventually took charge of the technology around me.</p><p>
			I grew up in the Ottawa Valley. A small town on the edge of the river. Refusing to be thethererd to where I grew up When I traveled two hours to go to college. I studied Marketing and advertising at St Lawerence college. I built confidence and an outlook on business and what a company needs. I did not stop at school there. after ST Lawrence I took an even bigger step. I moved five hours away grom home to attend Georgian college.
		</p><p>
			Georgian is where I learned to program. I tok initiative and looked into new things to accelerate my knowledge. I would teach my self things that I wanted to learn and helped my peers. I ganed a reputation amongst my class for being knowledgable and helpfull making myself an invaluble asset to their education.  
		</p><p>
			Currently I am a cooky in my social groups and proffesional in my business groups. I do not live indoors. I am frequently found in the bush riding a bike or pitching a tent. Going to the gym involves rock climbing and bouldering.
		</p><p>
			i am a machine that is ready to work. I am dedicated and progressivly moving foreward. I early adopt technology and look for ways to do things fundementaly correct. Contact me and learn what difference I can make for your company
		</p>
	</section>
	<section>
		<h2>Languages</h2>
		<section>
			<ul>
				<li>HTML5</li><li>CSS3</li><li>Javascript</li><li>Node</li><li>MySql</li><li>C#</li><li>PHP</li>
			</ul>
		</section>
	</section><section>
		<h2>School</h2>
		<section>
			<h3>St Lawrence College</h3>
			<img src="" alt="Logo For St Lawrence College">
			<p>Exposed to the complete realm of advertising communications: advertising (creative), advertising (media), direct response and digital advertising (online and mobile), and media sales. You will write copy and design layouts for print media; write, produce, and edit video in broadcast media; prepare ads for the digital media; and prepare advertising campaigns that embrace all elements of communications. You will learn how to evaluate and recommend various media to resolve business problems</p>
		</section><section>
			<h3>Georgian College</h3>
			<img src="" alt="logo for Georgian College">
			<p>Instructed in the use of current Web and Internet technologies to create innovative, interactive products for a variety of users, platforms, and devices. They are taught to plan, design, and develop engaging and intuitive user interfaces. Courses cover the use of current technologies including but not limited to HTML, CSS, JavaScript, the Document Object Model (DOM), Application Programming Interfaces (APIs), and a variety of popular scripting frameworks. With a focus on user-centred design, students will apply human interface guidelines, standard-based structures, and web design and development principles to create an accessible, usable, and captivating user experience.</p>
		</section>
	</section>
</section>
<!-- Attach footer -->
<%- include partials/footer.ejs %>