<!-- attach header -->
<%- include partials/header.ejs %>
<!-- main content goes here -->
<section class="about">
	<h1><%= title %></h1>
	<section>
		<h2>Brandon Elliott</h2>
		<img src="" alt="Photograph of Brandon Elliott">
		<p>Body Copy</p>
	</section>
	<section>
		<h2>Languages</h2>
		<section>
			<h4>HTML5/CSS3</h4>
			<p></p>
		</section><section>
			<h4>Javascript</h4>
			<p></p>
		</section><section>
			<h4>Node</h4>
			<p></p>
		</section><section>
			<h4>C#</h4>
			<p></p>
		</section>
	</section><section>
		<h2>School</h2>
		<section>
			<h3>St Lawrence College</h3>
			<img src="" alt="Logo For St Lawrence College">
			<p>Description about program</p>
		</section><section>
			<h3>Georgian College</h3>
			<img src="" alt="logo for Georgian College">
			<p>Description about program</p>
		</section>
	</section>
</section>
<!-- Attach footer -->
<%- include partials/footer.ejs %>