<!-- attach header -->
<%- include partials/header.ejs %>
<!-- main content goes here -->
<section class="contact">
	<h1><%= title %></h1>
	
</section>
<!-- Attach footer -->
<%- include partials/footer.ejs %>