<!-- attach header -->
<%- include partials/header.ejs %>
<!-- main content goes here -->
<section class="home">
	<h1><%= title %></h1>
	<h2>Full Stack Web Developer</h2>
	<ul>
		<li>Node</li><li>C#</li><li><abbr title="Linux Apache MySql PHP">LAMP</abbr></li>
	</ul>
	<section>
		<a href="/portfolio" class="button">portfolio</a><a href="/contact" class="button">contact</a>
	</section>
</section>
<!-- Attach footer -->
<%- include partials/footer.ejs %>