<!-- attach header -->
<%- include partials/header.ejs %>
<!-- main content goes here -->
<!-- testing bulma connection remove later -->
<section>
	this
</section>
<!-- Attach footer -->
<%- include partials/footer.ejs %>