<!-- attach header -->
<%- include partials/header.ejs %>
<!-- main content goes here -->
<section class="portfolio">
	<% for(var counter = 0;counter<portfolio.length;counter++){%>
		<a href="/portfolio/<%= portfolio[counter].pageUrl %>">
			<h2><%= portfolio[counter].title%></h2>
		</a>
	<% } %>
</section>
<!-- Attach footer -->
<%- include partials/footer.ejs %>