<!-- attach header -->
<%- include partials/header.ejs %>
<!-- main content goes here -->
<section class="portfolio">
	<h1>portfolio</h1>
	<section><img src="" alt="image element"><h3>Portfolio title</h3></section>
	<section><img src="" alt="image element"><h3>Portfolio title</h3></section>
	<section><img src="" alt="image element"><h3>Portfolio title</h3></section>
</section>
<!-- Attach footer -->
<%- include partials/footer.ejs %>