<!-- attach header -->
<%- include partials/header.ejs %>
<!-- main content goes here -->
<section class="portfolio">
	<h1>portfolio</h1>
	<section><a href="/portfolio/jackiejones"><h3>Jackie Jones Website</h3></a></section>
	<section><a href="/portfolio/barriecycling"><h3>Portfolio title</h3></a></section>
</section>
<!-- Attach footer -->
<%- include partials/footer.ejs %>