<!-- attach header -->
<%- include partials/header.ejs %>
<!-- main content goes here -->
<section class="services">
	<h1><%= title %></h1>
	<section>
		<i class="fa fa-life-ring fa-5x"></i>
		<h2>Squarespace</h2>
		<p>Build a quick website on a budget. Using Squarespace get a quick website that is easy to update and maintane. Perfect for small businesses or simple website.</p>
		<ul>
			<li>Quick development</li>
			<li>Rhobust CMS</li>
			<li>Powerful SEO ranking</li>
			<li>E-Comerce</li>
			<li>Perfect for small businesses</li>
		</ul>
	</section><section>
		<i class="fa fa-chevron-up fa-5x"></i>
		<h2>Upgrade</h2>
		<p>Bring your old website up to the new standards. Rank above your competition utilizing HTML5 standars to give you the edge in Search Rankings.</p>
		<ul>
			<li>Modernize your website</li>
			<li>Increase Rankings on search engines</li>
			<li>Increase Branding accesability</li>
			<li>Competative advantage</li>
		</ul>
	</section><section>
		<i class="fa fa-database fa-5x"></i>
		<h2>Build</h2>
		<p>Get a new fresh website. Using the power in Node.js get the up to date cutting edge development following web standars for  modern web applications</p>
		<ul>
			<li>MEAN web Application</li>
			<li>Custom Content</li>
			<li>Database</li>
			<li>Custom CMS</li>
			<li>Advanced digita marketing potential</li>
		</ul>
	</section>
</section>
<!-- Attach footer -->
<%- include partials/footer.ejs %>