<!-- attach header -->
<%- include partials/header.ejs %>
<!-- main content goes here -->
<section class="services">
	<h1><%= title %></h1>
	<section>
		<img src="" alt="icon">
		<h2>Service1</h2>
		<p>Details</p>
	</section><section>
		<img src="" alt="icon">
		<h2>Service2</h2>
		<p>Details</p>
	</section><section>
		<img src="" alt="icon">
		<h2>Service3</h2>
		<p>Details</p>
	</section>
</section>
<!-- Attach footer -->
<%- include partials/footer.ejs %>