html{
	background: linear-gradient(rgba(55,66,44,0.5),rgba(55,66,44,0.5)), url("/images/main-image.jpg");
	background-size:cover;
	/*base font styles*/
	font-size:16px;
	color: #333;
}
abbr{
	border-bottom:none !important;
	cursor:default !important;
}
/*Global header styles*/
h1{
	font-size:4em;
	color:#333;
	font-family:'Open Sans', Arial, sans-serif;
	text-transform:capitalize;
}
h2{
	font-size:2em;
	color:#333;
}
h3{
	font-size:1.5em;
	color:#333;
}
/*partial styles*/
header{
	min-width:100px;
	width:10%;
	height:95vh;
	display:inline-block;
	background-color:rgba(250,250,250,0.3);
	padding:20px;
}
footer{
	min-height:30px;
	height:5vh;
	width:auto;
	background-color:#333;
	display:block;

}
body>section{
	display:inline-block;
	min-height:95vh;
	width:86%;
	vertical-align:top;
}
/*navigation styles*/
nav a{
	text-transform:capitalize;
	color:#eee ;
}
/*main section styles*/
/*home page styles*/
.home{
	width:80%;
	max-width:600px;
	margin:10vh auto;
	padding: 20px;
	background:#ddd;
}
.home>section{
	width:100%;
	margin:2vh auto;
}
.home a{
	width:48%;
	display:inline-block;
	text-transform: capitalize;
}
.home a:hover{
	color:#000;
}
.home ul{
	border:none;
}
.home ul>li{
	padding:5px 2px 2px;
	display:inline-block;
	width:32%;
}
.home ul>li:first-of-type{
	margin-right: 2%;
}
.home ul>li:last-of-type{
	margin-left: 2%;
}


/*portfolio styles*/
.portfolio{
	box-sizing:border-box;
	padding:40px;
}
.portfolio h1{
	color:#ddd;
}
.portfolio>section{
	width:250px;
	height:150px;
	background:red;
	vertical-align:initial;
	margin:1%;
	display:inline-block;
}
.portfolio>section>img{
	width:250px;
	height:150px;
	position:relative;
	background:blue;

}
.portfolio>section>h3{
	position:absolute;
}
/*portfilio item pages*/
.portfolioItem{
	box-sizing:border-box;
	padding:40px;
	background:rgba(250,250,250,0.6);
}
.portfolioItem>#imgContainer{
	width:100%;
	height:200px;
	overflow:hidden;
	
}

.portfolioItem>#imgContainer>img{
	width:100%;
	height:auto;
	max-height:none;
}
.portfolioItem>#imgContainer.fullImg{
	height:100%;
}
/*about page styles*/
.about{
	box-sizing:border-box;
	padding:40px;
	background:rgba(250,250,250,0.6);
}
.about>section:first-of-type{
	width:100%;
	min-height:200px;
}
.about>section:first-of-type>img{
	display:inline-block;
	width:20%;
	height:auto;
}
.about>section:nth-of-type(2){
	width:100%;
	min-height:200px;
}
.about>section:nth-of-type(2)>section{
	width:25%;
	display:inline-block;
}
.about>section:nth-of-type(3){
	width:100%;
	min-height:200px;
}
.about>section:nth-of-type(3)>section{
	width:50%;
	display:inline-block;
}
/*services styles*/
.services{
	box-sizing:border-box;
	padding:40px;
	background:rgba(250,250,250,0.6);
}
.services>section{
	width:33%;
	display:inline-block;
}
